@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
  /* darkest grey - used for headings */
  
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: #ba2626;
  --clr-red-light: #e66b6b;
  --clr-green-dark: #25bb32;
  --clr-green-light: #6be675;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #CAF0F8;
  /* color: var(--clr-grey-1); */
  /* line-height: 1.5;
  font-size: 0.875rem; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #CAF0F8 inset !important;

}

input:checked~.dot {
  transform: translateX(100%);

}

input:checked~.block {
  background-color: var(--clr-grey-3);
}

.test::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-top: 20px solid transparent;
  border-left: 32px solid #FBFBFB;
  border-bottom: 20px solid transparent;
  transition: all 500ms ease-in-out;
}

.test {
  background-color: #4FCCF5;
  transition: all 500ms ease-in-out;
}

.test::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  z-index: 10;
  right: -32px;
  border-top: 20px solid transparent;
  border-left: 32px solid #4FCCF5;
  border-bottom: 20px solid transparent;
  transition: all 500ms ease-in-out;
}

.active {
  background-color: #0284af;
  transition: all 500ms ease-in-out;
}

.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-top: 20px solid transparent;
  border-left: 32px solid #FBFBFB;
  border-bottom: 20px solid transparent;
  transition: all 500ms ease-in-out;
}

.active::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -32px;
  z-index: 10;
  border-top: 20px solid transparent;
  border-left: 32px solid #0284af;
  border-bottom: 20px solid transparent;
  transition: all 500ms ease-in-out;
}